.btn {
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 3rem;
    border: 2px solid transparent;
    transition: .3s;
}
.btn:hover, .btn:focus {
    transform: scale(.95);
}





.btn-primary {
    background-color: var(--clr-red);
    color: var(--clr-white);
    border: 2px solid var(--clr-red-light);
}
.btn-primary:hover, .btn-primary:focus {
    background-color: var(--clr-red-light);
    color: var(--clr-red);
}

.btn-secondary {
    background-color: var(--clr-white);
    color: var(--clr-black);
    border: 2px solid var(--clr-black);
}
.btn-secondary:hover, .btn-secondary:focus {
    background-color: var(--clr-black);
    color: var(--clr-white);
}






/* ========== Share Button ============ */
.share {
    color: #555;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    transition: 0.3s;
    border: 1px solid transparent;
    cursor: pointer;
}
.share:hover,
.share:focus {
  background-color: rgba(219, 162, 40, 0.36);
  border: 1px solid #dba328;
  color: var(--clr-yellow);
}

.share p {
  margin: 0;
  margin-right: 5px;
}