---
import MainLayout from '../layouts/MainLayout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<MainLayout>
	<!-- Coming soon page -->
	<section class="coming-soon">
		<div class="yellow"></div>
		<div class="green"></div>
		<div class="container wrapper">
			<div class="coming-container">
				<h1 class="bg-gradient-to-r from-red-600 via-red-400 to-yellow-300 text-7xl font-bold italic leading-15 text-transparent bg-clip-text md:leading-40 md:text-9xl hero-text mb-4 animate__animated animate__rubberBand">Coming Soon</h1>
				<p class="my-12 text-lg">Our Engineers are working tireslessly to bring you the amazing Experience you deserve.</p>
				<!-- <a href="#" class="btn btn-primary">Send an email</a> -->
			</div>
		</div>
	</section>
	<!-- End of coming soon page -->
</MainLayout>









<style lang="scss">

.coming-soon {
	width: 100%;
	height: calc(100vh - 3.5rem);
	background-color: var(--clr-black);
	color: var(--clr-white);
	position: relative;
	z-index: 1;

	.coming-container {
		width: 100%;
		height: 100%;
		max-width: 900px;
		margin: 0 auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;
	}

	.yellow, .green {
		width: 30vw;
		height: 30vw;
		border-radius: 50%;
		position: fixed;
		z-index: -1;
		filter: blur(5.5rem);
		opacity: .5;
	}
	.yellow {
		background-color: var(--clr-yellow);
		right: -10vw;
		top: 0;
	}
	.green {
		background-color: var(--clr-green);
		bottom: 0;
		left: -10vw;
	}
}
</style>