<!--Start of Blog Section -->

<section class="section-blog">
    <div class="container wrapper bg-red-200">
        <div class="max-w-screen-xl mx-auto px-6 py-20 text-center">
          <h2 class="text-3xl font-bold text-black mb-14">Blogs</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 justify-center">
            <!-- Blog Card 1 -->
            <a href="/blog-1" class="block transform transition duration-300 hover:scale-105">
                <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                    <img src="/images/blog-image.jpg" alt="Blog Image" class="w-full h-56 object-cover">
                    <div class="p-4">
                        <p class="text-sm font-semibold">Lorem Ipsum sit amet sit dollarLorem Ipsum sit amet sit dollar</p>
                    </div>
                </div>
            </a>
            <!-- Blog Card 2 -->
            <a href="/blog-2" class="block transform transition duration-300 hover:scale-105">
                <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                    <img src="/images/blog-image.jpg" alt="Blog Image" class="w-full h-56 object-cover">
                    <div class="p-4">
                        <p class="text-sm font-semibold">Lorem Ipsum sit amet sit dollarLorem Ipsum sit amet sit dollar</p>
                    </div>
                </div>
            </a>
            <!-- Blog Card 3 -->
            <a href="/blog-3" class="block transform transition duration-300 hover:scale-105">
                <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                    <img src="/images/blog-image.jpg" alt="Blog Image" class="w-full h-56 object-cover">
                    <div class="p-4">
                        <p class="text-sm font-semibold">Lorem Ipsum sit amet sit dollarLorem Ipsum sit amet sit dollar</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="mt-14">
            <a href="/blogs" class="bg-red-500 text-white px-6 py-4 rounded-2xl shadow-md hover:bg-red-600 cursor-pointer">Read More</a>
        </div>
        </div>
    </div>
</section>

<!--End of Blog Section -->