---

---






<footer>
    <div class="container wrapper">
        <p>Copyright &copy; {new Date().getFullYear()} IPGGhana | Built with <i class="fa-solid fa-heart text-red-600"></i> by <a href="https://www.segulaglobal.com" target="_blank" class="text-green-600 font-bold italic">Digital Segula Global</a> </p>
    </div>
</footer>



<style lang="scss">
footer {
    background-color: var(--clr-black);
    color: var(--clr-gray-light);
    text-align: center;
    padding: 1rem 0;
    position: relative;
    z-index: 2;

    p {
        font-size: .9rem;
    }
}

</style>