---
import "../styles/global.css";
interface Props {
  title?: string;
  description?: string;
  image?: string;
}

import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";

const {
  title,
  description = "At the Africa Policy Lens, we believe that data-driven insights and informed policy decisions are the foundation of national progress, and our commitment to transparency, accountability, and research-driven advocacy sets us apart as a thought leader in governance and economic reforms.",
  image = "/images/band.jpg",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" {{ description }} " />
    <meta name="robots" content="index, follow" />

    <!-- {# social media sharing #} -->
    <meta property='og:{{ title }}' content='Title of the article'/>
    <meta property='og:{{ image }}' content='//media.example.com/ 1234567.jpg'/>
    <meta property='og:{{ description }}' content='Description that will show in the preview'/>
    <meta property='og:{{ post.url }}' content='//www.example.com/URL of the article'/>
    <title>{title}</title>

    <!-- main css file -->
    <link rel="stylesheet" href="/css/main.css">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet"
        />
    
        <!-- Font-awesome CDN -->
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        />



</head>
<body>

    <NavBar />

    <slot />

    <Footer />

     <!-- Javascript goes here -->
     <script src="./../js/Navbar.js"></script>

    <script>
        
    </script>
    
</body>
</html>
