---
import "../styles/global.css";
interface Props {
  title?: string;
  description?: string;
  image?: string;
}

import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";

const {
	title = "Africa Policy Lens, we believe that data-driven insights and informed policy decisions are the foundation of national progress,",
	description = "Africa Policy Lens, we believe that data-driven insights and informed policy decisions are the foundation of national progress, and our commitment to transparency, accountability, and research-driven advocacy sets us apart as a thought leader in governance and economic reforms.",
	image = "/images/logo.png"
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="IPG website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="./../styles/global.css" />

    <!-- Flowbite -->
		<link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />


    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Font-awesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Decap cms -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  </head>
  <body class="">
    <!-- Navigation goes here -->
    <NavBar />

    <slot />

    <!-- Footer goes here -->
    <Footer />

    <!-- Javascript goes here -->
    <script src="./../js/Navbar.js"></script>

    <!-- Flowbite JS -->
		<script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>

  </body>
</html>
